<!-- This website is made by Nishil Singh June 1 2025-->
<!DOCTYPE html>
<html lang="en">
{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- Welcome Message -->
<h2>Welcome to the Military Vehicles Database</h2>
<!-- Information about the website's purpose -->
<p>Search for military tanks and aircraft and explore the different categories.</p>
<!-- Simple instruction on what you can use on this website and how to --> 
<p>Use the navigation above to browse all tanks or all aircraft, or use the search bar to find a specific vehicle.</p>
{% endblock %}
</html>